* {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid grey;
}

body {
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* impostazione della nav */



/* container interno alla nav con il logo ed i menù */


/* blocco centrale pagina */



/* blocco sinistro con scritta grande */


/* blocco dx con telefono grande */


/* pagina interna */
