* {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid grey;
}

body {
  -moz-osx-font-smoothing: grayscale;
min-height: 100%;
font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
display: flex;
flex-wrap: wrap;
-webkit-font-smoothing: antialiased;
}

/* impostazione della nav */
nav{
  position: fixed;
  background: white;
  box-shadow: rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  padding: 1.25rem 0px;
}

/* container interno alla nav con il logo ed i menù */
.container{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100vw;
}

#logo_rev{
  height: 28px;
  width: 121px;
}

#BtnGet{
  background-color: rgb(235, 0, 141);
  color: white;
}

/* blocco centrale pagina */
.container-main{
  max-width: 86rem;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 5.25rem 0px 0px 3rem;
}
/* blocco sinistro con scritta grande */
.blocco-sx-main{
  padding:84px 0 48px;
}

/* blocco dx con telefono grande */
.blocco-dx-main{
  position: relative;
}
#account_tel{
  width: 380px;
  height: 676px;
}
.creditcard{
  width: 45vh;
  height: 28.375vh;
  max-width: 360px;
  max-height: 227px;
  transform: rotate(70deg);
}

/* pagina interna */
span{
  color:rgb(25, 28, 31);
cursor:pointer;
display:inline-block;
font-family:"Basier Circle", sans-serif;
font-weight:500;
}

h1{
  font-family:"Basier Circle", sans-serif;
font-size:56px;
font-weight:600;
height:126px;
letter-spacing:-1.4px;
line-height:63px;
}

p{
  color:rgb(139, 149, 158);
display:block;
font-family:Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
height:78px;
line-height:26.4px;
margin-bottom:20px;
}
