* {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid grey;
}

body {
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* impostazione della nav */

nav{
  display: flex;
  justify-content: space-around;
  margin:auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#logo{
  width: 121px;
  height: auto;
}

ul{
  display: inline-block;
  position: absolute;
  top:33px;
}

ul li {
  list-style-type: none;
  display: block;
}

#account:hover ul li {
  display: block;
}

.account-list{
  left: 48%;
}
.products-list{
  left: 59%;
}

.company-list{
  left: 69%;
}

.help-list{
  left: 80%;
}

.menu-horizontal{
  display: contents;
}

.menu-hamburger{
  display: none;
}


/* blocco centrale pagina */



/* blocco sinistro con scritta grande */


/* blocco dx con telefono grande */


/* pagina interna */

@media screen and (max-width: 992px) {
  .logo{
    position: absolute;
    left: 18px;
  }
  .menu-horizontal,.tipologia-conto{
    display: none;
  }
}
